@import './../include.scss';

.footer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $black;
  color: $white;

  @media (min-width: $screen-width-medium) {
    flex-direction: row;
    justify-content: flex-end;
  }

  &-title {
    margin: 1rem;
    font-family: 'Sonder Sans';
    font-size: 1.4rem;
  }

  &-logo {
    width: 3rem;
    height: 3rem;
    margin: 1rem;
  }
}
