@import './../include.scss';

.header {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $black;

  &-logo {
    margin: 1rem;
    width: 4rem;
    height: 4rem;
  }

  &-burger {
    display: block;
    padding: 2rem;
    cursor: pointer;

    @media (min-width: $screen-width-medium) {
      display: none;
    }
  }

  &-navigation {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: $grey;

    @media (min-width: $screen-width-medium) {
      position: static;
      width: unset;
      align-self: stretch;
      display: flex;
      flex-direction: row;
      background-color: inherit;
    }

    &.active {
      display: flex;
    }
  }

  &-link {
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Sonder Slab';
    font-size: 1.2rem;
    color: $white;

    &.active {
      color: $green;
    }
  }
}
