.live {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-video {
    width: 720px;
    height: 420px;
  }

  &-description {
    margin: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Sonder Sans';
    font-size: 1.6rem;
  }
}
