@import './include.scss';

.conferences {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

article {
  flex: 1 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  font-size: 1.3em;
  margin: 3vh;

  > div {
    display: inline-block;
    color: black;
    padding: 2vh;

    &.left {
      float: left;
      height: 8vh;
      padding: 3vh;

      .roomName {
        font-size: 1.4em;
        text-align: center;
        padding-bottom: 10px;
      }

      .date {
        color: $green;
      }
    }

    .name {
      font-size: 1.5em;
      font-weight: bold;
    }
  }

  .conference-summary {
    flex: 1 35px;
    position: relative;
    border-left: 10px solid $green;
    border-radius: 10px;
    box-shadow: 2px 5px 10px $grey;
    background-color: $white;
  }
}

.conference-title {
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: 1px 1px 1px $grey;
}

.conference-subtitle {
  padding-top: 8px;
  padding-bottom: 15px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: flex;
  flex-direction: row-reverse;

  .modal-block {
    background-color: $white;
    flex-grow: 1;
    text-align: center;
    @media (min-width: 801px) {
      max-width: 33%;
    }
  }

  @media (max-width: 800px) {
    .modal-around {
      display: none;
    }
  }
  @media (min-width: 801px) {
    .modal-around {
      background-color: black;
      opacity: 0.5;
      flex-grow: 5;
    }
  }
}

.modal-content {
  text-align: left;
  @media (max-width: 800px) {
    text-align: center;
  }
  padding: 4vh;
}

.modal-close {
  text-align: right;
}

.btn {
  display: inline-block;
  background-color: $green;
  text-align: center;
  color: $white;
  font-weight: bold;
  text-decoration: none;

  border: 2px solid $green;
  border-radius: 10px;
  box-shadow: 2px 2px 3px $black;
  
  margin: 1%;
  padding: 1vh;
  padding-left: 3vh;
  padding-right: 3vh;
}
