@import './include.scss';

.conferences {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.conference-card {
  cursor: pointer;
}

article {
  flex: 1 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  font-size: 1.3em;
  margin: 3vh;

  > div {
    display: inline-block;
    color: black;
    padding: 2vh;

    &.left {
      float: left;
      height: 8vh;
      padding: 3vh;

      .roomName {
        font-size: 1.4em;
        text-align: center;
        padding-bottom: 10px;
      }

      .date {
        color: $green;
      }
    }

    .name {
      font-size: 1.5em;
      font-weight: bold;
    }
  }

  .conference-summary {
    flex: 1 35px;
    position: relative;
    border-left: 10px solid $green;
    border-radius: 10px;
    box-shadow: 2px 5px 10px $grey;
    background-color: $white;
  }
}

.conference-title {
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: 1px 1px 1px $grey;
}

.conference-subtitle {
  padding-top: 8px;
  padding-bottom: 15px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: row-reverse;

  @media (max-width: 800px) {
    .modal-around {
      display: none;
    }
  }
  @media (min-width: 801px) {
    .modal-around {
      background-color: black;
      opacity: 0.5;
      flex-grow: 5;
    }
  }
}

.modal {
  &-block {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    background-color: $white;

    @media (min-width: $screen-width-medium) {
      width: 40%;
    }
  }

  &-close {
    width: 1.5rem;
    height: 1.5rem;
    padding: 1rem;
    align-self: end;
    cursor: pointer;
  }

  &-button {
    padding: 0.5rem 3rem;
    border-radius: 10px;
    box-shadow: 2px 5px 10px $grey;
    align-self: center;
    background-color: $green;
    font-weight: bold;
    color: $white;
  }
}

.modal-content {
  text-align: left;
  @media (max-width: 800px) {
    text-align: center;
  }
  padding: 2rem;
}
