@import './include.scss';

article {
  font-size: 1.3em;
  margin: 5vh;
  background-color: $grey;
  height: 14vh;

  > div {
    display: inline-block;
    color: $black;
    padding: 2vh;

    &.left {
      float: left;
      height: 8vh;
      padding: 3vh;
      background-color: $black;
      color: $white;

      .roomName {
        font-size: 1.4em;
        text-align: center;
        padding-bottom: 10px;
      }
    }

    .name {
      font-size: 1.5em;
      font-weight: bold;
    }
  }
}

.conference-title {
  font-size: 1.2em;
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  display: flex;
  flex-direction: row-reverse;

  .modal-block {
    background-color: $white;
    flex-grow: 1;
    text-align: center;
  }

  @media (max-width: 800px) {
    .modal-around {
      display: none;
    }
  }
  @media (min-width: 801px) {
    .modal-around {
      background-color: black;
      opacity: 0.5;
      flex-grow: 5;
    }
  }
}

.modal-content {
  text-align: left;
  @media (max-width: 800px) {
    text-align: center;
  }
  
  padding: 4vh;
}

.modal-close {
  text-align: right;
}

.modal-close-button {
  background-color: $white;
  border: 2px solid $black;
  border-radius: 4px;
  cursor: pointer;
  padding-left: 10px;
  padding-top: 14px;
  padding-right: 9px;
  padding-bottom: 6px;
}

.btn {
  display: inline-block;
  background-color: $green;
  text-align: center;
  color: $white;
  font-weight: bold;
  text-decoration: none;

  border: 2px solid $green;
  border-radius: 10px;
  box-shadow: 2px 2px 3px $black;
  
  margin: 1%;
  padding: 1vh;
  padding-left: 3vh;
  padding-right: 3vh;
}
