@import './include.scss';


footer{
    background-color: $black;
    .partner{
        img{
            width:50px;
            margin: auto;
            display: block;
            padding-top: 20px;
        }
    }
    .main-container{
        padding-top:30px;
        padding-bottom: 100px;
    }
    p{
        color:white;
        text-align: center;
        font-family: 'Sonder Slab';
        font-size:30px;
    }
}

@media (max-width: 600px) {
    .bar {
        border-bottom: 2px solid white;
        margin: 0px 30px;
    }
    .underbar{
        margin-top: 20px;
    }
    .mobile-pad{
        margin-bottom: 50px;
    }
}
