@import "./index.scss";

header {
  top: 0;
  height: 8vh;
  background-color: $grey;
  font-size: 2vh;

  img {
    float: left;
    width: 8vh;
  }

  .svg {
    display: none;
    padding: 2vh;

    @media screen and (max-width: 768px) {
      display: inline-block;
      float: right;

      &:active ~ nav, &:hover ~ nav {
        margin-right: 0;
      }
    }
  }

  > nav {
    float: right;

    a {
      display: inline-block;
      color: $white;
      transition: background-color .5s;
      text-decoration: none;
      padding: 2.8vh 2vh;

      &:hover {
        background-color: $black;
        text-decoration: underline;
      }
    }

    @media screen and (max-width: 768px) {
      position: absolute;
      background-color: $grey;
      right: 0;
      width: 15vh;
      margin-right: -15vh;
      transition: margin-right .5s;

      &:hover {
        margin-right: 0;
      }

      a {
        display: block;
      }
    }
  }
}
