@import './include.scss';

header {
  top: 0;
  height: 8vh;
  background-color: $black;
  font-size: 2vh;

  img {
    float: left;
    width: 8vh;
  }

  #burgerToggle {
    display: none;
    padding: 2vh;
    cursor: pointer;

    @media screen and (max-width: 768px) {
      display: inline-block;
      float: right;

      &.pressed ~ nav {
        margin-right: 0;
      }
    }
  }

  > nav {
    float: right;

    a {
      display: inline-block;
      color: $white;
      transition: background-color .5s;
      text-decoration: none;
      padding: 2.8vh 2vh;
    }

    @media screen and (max-width: 768px) {
      position: absolute;
      background-color: $grey;
      right: 0;
      width: 15vh;
      margin-top: 8vh;
      margin-right: -15vh;
      transition: margin-right .5s;

      a {
        display: block;
      }
    }
  }
}

.header {
  &-link {
    font-family: 'Sonder Slab';
    color:white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;

    &.active {
      color: $green;
    }
  }
}

