$black: #2D2D2A;
$grey: #808782;
$white: #ffffff;
$green: #34F6C1;
$positive: #7D80DA;
$negative: #FF6B6B;

$screen-width-medium: 860px;

@mixin card {
  border-left: 10px solid $green;
  border-radius: 10px;
  box-shadow: 2px 5px 10px $grey;
}
